@import "fonts.css";

:root {
    --color-hue: 230; /* default: 249 */
    --background-primary: hsl(var(--color-hue), 100%, 73%);
    --background-secondary: hsl(var(--color-hue), 53%, 54%);

    --colors-lighter: hsl(var(--color-hue), 100%, 98%);
    --colors-darker: rgba(0, 0, 0, .25);

    --transition: cubic-bezier(.17,.67,.49,.85);
}

a {
    text-decoration: none;
}

html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: var(--background-primary);
    background: linear-gradient(150deg, var(--background-primary) 0%, var(--background-secondary) 100%);
    display: flex;
}

body {
    padding: 40px;
    width: 1300px;
    margin: 0 auto;
}

#container {
    width: 100%;
}

.header, .content, .footer {
    width: 100%;
    position: relative;
}

.header {
    padding-bottom: 40px;
}

.header > a, .header {
    color: var(--colors-lighter);
}

.header > a {
    font-size: 32px;
    font-family: 'Dosin', sans-serif;
    font-weight: 700;
    border-spacing: 0;
    margin: 0;
}

.header > span {
    font-family: 'Spline Sans', sans-serif;
    font-weight: 200;
    opacity: .7;
    transition: var(--transition) .2s;
    padding-left: 3px;
}

.header > a > i {
    background: var(--colors-darker);
    color: var(--colors-lighter);
    aspect-ratio: 1 / 1;
    padding: 8px;
    border-radius: 8px;
}

.header > a > span {
    position: relative;
    top: 5px;
}

.header:hover > span {
    opacity: 1;
    position: relative;
}

.content {
    float: left;
    border-radius: 20px;
    background: var(--colors-lighter);
    box-shadow: 0 2px 20px var(--colors-darker);
}

.content > textarea {
    padding: 30px;
    width: 50%;
    height: 500px;
    float: left;
    background: transparent;
    border: none;
    outline: none;
    resize: none;
    font-family: 'Spline Sans', sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

.content > textarea:nth-child(1) {
    border-right: 1px solid var(--colors-darker);
}

.content > textarea:nth-child(2) {
    border-left: 1px solid var(--colors-darker);
}

.content > select {
    font-family: 'Spline Sans', sans-serif;
    background: var(--background-primary);
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    outline: none;
    appearance: none;
    transition: var(--transition) .2s;
}

.content > select:hover {
    background: var(--colors-darker);
}

.language1 {
    width: 160px;
    height: 50px;
    position: absolute;
    right: 50%;
    bottom: 0;
    border-right: 1px solid white !important;
    border-top-left-radius: 10px;
}

.language2 {
    width: 160px;
    height: 50px;
    position: absolute;
    left: 50%;
    bottom: 0;
    border-left: 1px solid white !important;
    border-top-right-radius: 10px;
}

@media only screen and (max-width: 900px) {
    html {
        height: auto;
    }

    .content > textarea {
        width: 100%;
    }

    .content > textarea:nth-child(1) {
        border-right: none;
        border-bottom: 1px solid var(--colors-darker);
        margin-bottom: 50px;
    }

    .content > textarea:nth-child(2) {
        border-left: none;
        border-top: 1px solid var(--colors-darker);
    }

    .language1, .language2 {
        top: 500px;
        width: 50%;
        border-radius: 0;
    }
}

@media only screen and (max-width: 700px) {
    body {
        padding: 10px;
    }

    .header {
        padding-top: 20px;
        text-align: center;
    }
}

@media only screen and (max-width: 450px) {
    body {
        padding: 5px;
    }

    .content > textarea {
        font-size: 16px;
        padding: 20px;
    }

}